.card {
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 50px;
    margin: 15px;
    overflow: hidden;
    align-items: center;
    border-radius: 5px;
    border: solid 1px #D3D3D3;
}

.card img {
    padding: 15px;
}